extends ../../layouts/default.pug

block main 

    if(product.title)
        h1 Chi tiết sản phẩm: #{product.title}
    if(product.price)
        div(class="mb-4") Giá: <b>#{product.price}$</b>
    if(product.discountPercentage)
        div(class="mb-4") Giảm giá: <b>#{product.discountPercentage}%</b>
    if(product.stock)
        div(class="mb-4") Số lượng: <b>#{product.stock}</b>
    if(product.thumbnail)
        div(class="mb-4")
            img(src=product.thumbnail alt=product.title style="max-width: 300px; max-height: 300px;")
    if(product.status)
        div(class="mb-4") Trạng thái: 
            if(product.status === 'active')
                span(class="badge text-bg-success") Hoạt động
            else if(product.status === 'inactive')
                span(class="badge text-bg-danger") Ngừng hoạt động
    if(product.position)
        div(class="mb-4") Vị trí: <b>#{product.position}</b>
    if(product.description)
        div(class="mb-4") Mô tả: 
            p #{product.description}

    a(class="btn btn-warning btn-sm" href=`${prefixAdmin}/products/edit/${product.id}`) Sửa sản phẩm

    script(src="/admin/js/products.js")