extends ../../layouts/default.pug
include ../../mixins/alert
include ../../mixins/select-tree

block main
    +alert-error(3000)
    h1(class="mb-4") Sửa tài khoản
    form(action=`${prefixAdmin}/accounts/edit/${account.id}?_method=PATCH`
    method="POST"
    id="form-edit-account"
    enctype="multipart/form-data")
        div(class="form-group")
            label(for="fullName") Họ tên *
            input(type="text"
            name="fullName"
            id = "fullName"
            class="form-control"
            placeholder="Họ tên"
            value=account.fullName)
        div(class="form-group")
            label(for="email") Email *
            input(type="email"
            name="email"
            id = "email"
            class="form-control"
            placeholder="Email"
            value=account.email)
        div(class="form-group")
            label(for="password") Mật khẩu *
            input(type="password"
            name="password"
            id = "password"
            class="form-control"
            placeholder="Mật khẩu")
        div(class="form-group")
            label(for="phone") Số điện thoại
            input(type="text"
            name="phone"
            id="phone"
            class="form-control"
            placeholder="Số điện thoại"
            value=account.phone)
        div(class="form-group" upload-image)
            label(for="avatar") Avatar
            input(type="file"
            name="avatar"
            id="avatar"
            class="form-control-file"
            accept="image/*"
            upload-image-input)
            img(src=account.avatar upload-image-preview alt="Hình ảnh sản phẩm" class="image-preview" style="width: 200px; height: 150px; object-fit: cover;")
        div(class="form-group")
            label(for="role_id") Phân quyền
            select(name="role_id" id="role_id" class="form-control")
                option(value="" selected) -- Chọn quyền --
                if(roles)
                    each role in roles
                        option(value=role._id selected=(account.role_id == role._id ? true : false)) #{role.title}
        div(class="form-group form-check form-check-inline")
            input(type="radio"
            class="form-check-input"
            name="status"
            id="statusActive"
            value="active"
            checked=(account.status == "active" ? true : false))
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(type="radio"
            class="form-check-input"
            name="status"
            id="statusInactive"
            value="inactive"
            checked=(account.status == "inactive" ? true : false))
            label(for="statusInactive" class="form-check-label") Ngừng hoạt động
        div(class="form-group")
            button(type="submit"
            class="btn btn-primary") Sửa
    script(src="https://cdn.tiny.cloud/1/rb8401ud5yvnk1uai2vxr55oe39ajvh1fbxrfpczzxs3ypic/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous")
    script(src="/admin/js/products.js")
    script(src= "/admin/js/tinymce-config.js")
    