.sider
    .inner-menu
        ul
            li 
                a(href=`${prefixAdmin}/dashboard` class="text-decoration-none") Tổng quan 
            li 
                a(href=`${prefixAdmin}/products` class="text-decoration-none") Sản phẩm
            li 
                a(href=`${prefixAdmin}/products-category` class="text-decoration-none") Danh mục sản phẩm
            li 
                a(href=`${prefixAdmin}/roles` class="text-decoration-none") Nhóm quyền
            li 
                a(href=`${prefixAdmin}/roles/permissions` class="text-decoration-none") Phân quyền
            li 
                a(href=`${prefixAdmin}/accounts` class="text-decoration-none") Danh sách tài khoản